.markdown-context {
    font-family: microsoft yahei, sans-serif;
    h1 {
        margin: 30px 0;
    }
    h2 {
        border-bottom: 1px solid #aaa;
        margin: 25px 0;
    }
    h3{
        margin: 20px 0;
    }
    h4 {
        margin: 8px 0;
    }
    pre {
        background-color: #efefef;
        overflow: auto;
        margin: 5px 0;
        border-radius: 0 0 5px 5px;
        code {
            font-family: Roboto Mono,JetBrains Mono,Consolas,sans;
        }
        .lang-head {
            display: flex;
            justify-content: space-between;
            background-color: #42b983;
            padding: 5px 12px;
            color: white;
            i {
                cursor: pointer;
            }
        }
        .code-box {
            padding: 8px 12px;
            margin-bottom: -20px;
        }
    }
    table {
        border: 1px solid rgb(21, 146, 105);
        border-collapse: collapse;
        tr {
            td {
                border: 1px solid rgb(21, 146, 105);
                padding: 5px;
            }
            &:nth-child(2n){
                background: #eee;
            }
        }
        tr th {
            background-color: rgb(15, 116, 85);
            color: white;
            padding: 5px;
        }
    }
    a{
        color: #42b983;
        position: relative;
        &::after {
            content: '';
            height: 2px;
            background: repeating-linear-gradient(to right,#42b983 0,#42b983 5px,transparent 5px,transparent 7px);
            position: absolute;
            bottom: 0;
            left:0;right:0;
            transition: transform 0.5s ease;
            transform: scaleX(0);
            transform-origin: center;
        }
        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    blockquote {
        padding: 6px 10px;
        border-left: #888 solid 5px;
        margin: 8px 0;
        color: #888;
    }
    img {
        max-width: 100% !important;
        margin: 10px 0;
        box-shadow: 1px 5px 8px rgba(0,0,0,.1);
    }
    table {
        margin: 10px 0;
    }
    ol,ul {
        margin: 8px 10px 8px 20px;
    }
    p code {
        // inline code
        background-color: #f5f5f5;
        padding: 2px 3px;
        margin: 0 3px;
        line-height: normal;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-family: Arial, Helvetica, sans-serif;
    }
    abbr {
        cursor: pointer;
        color: #42b983;
    }
}