.tags{
    border-radius: 3px;
    background-color: rgba(66, 185, 131, 0.3);
    border-bottom: 3px solid rgb(66, 185, 131);
    padding: 2px 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgb(85, 22, 48);
    &:hover {
        background-color: rgba(66, 185, 131, 0.6);
    }
}
.center {
    text-align: center
}
